<script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js' type='text/javascript'></script>

{{ "/assets/images/logo.png" | prepend: site.baseurl }}

<script src="{{ "assets/scripts/bootstrap/scrollspy.js" | prepend: site.baseurl }}"></script>
<script src="{{ "assets/scripts/bootstrap/collapse.js" | prepend: site.baseurl }}"></script>
<script src="{{ "assets/scripts/bootstrap/transition.js" | prepend: site.baseurl }}"></script>
<script src="{{ "assets/scripts/main.js" | prepend: site.baseurl }}"></script>

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>